@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600&family=Poppins:wght@700&display=swap');

@media (max-width: 960px) {
  .container{
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container{
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container{
    width: 300px;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(240, 240, 240);
}

h1,h2 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: #8E3200;
}

h2 {
  color: #A64B2A;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #826F66;
}

a:hover {
  color: #A64B2A;
}

.card-white {
  background-color: #f7e8e1;
  padding: 24px;
  margin: 40px;
  box-shadow: 0 2.5px 10px rgb(0 0 0 / 15%);
  width: 500px;
  margin: 24px auto;
  text-align: center;
  border-radius: 32px;
}

.img-circle {
  width: 240px;
  border-radius: 50px;
}

.btn-red {
  background-color: #8E3200 ;
  color: white;
  padding: 8px 24px;
  border-radius: 16px;
  box-shadow: 0 2.5px 10px rgb(0 0 0 / 15%);
}

.btn-red:hover {
  background-color: #A64B2A;
  color: white;
  box-shadow: 0 5px 5px rgb(0 0 0 / 15%);
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline-block;
}

.social-icon {
  font-size: 32px;
  margin: 8px 8px;
}
